# fly.toml app configuration file generated for top-cenima on 2025-11-02T04:45:12Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'top-cenima'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 4
  memory_mb = 8192
